*{
    box-sizing: border-box;
}

html,body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-image: url(./Imagens/BG.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:#F6F6F6;
    width: 100%;
}

.Logoer {
    width: 60%;
    margin: 60px auto;
    display: block;
    border: 0;
    box-shadow: none;
}

.Logo {
    width: 30%;
    /*border-style: solid;
    border-width: 5px;
    border-color: #1f12d8; */
    border: 5px solid #201b13;
    border-image: linear-gradient(#0819b8, #020218) 30;
    border-radius: 0px;
    margin: 40px auto;
    display: block;
    box-shadow: none;
}

.Imagem {
    float: left;
}

img {
    width: 300px;
    /*border-style: solid;
    border-width: 5px;
    border-color: #000000; */
    border: 5px solid #dfddda;
    border-radius: 10px;
    box-shadow: -25px 20px 5px #0f0d02;
}

h1 {
    color:rgba(102, 48, 13, 0.911);
    text-align: center;
    background-color: #a18f7d;
    border: 3px solid #3d2306;
    border-radius: 20px;
    /* margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 40px; */
    margin: 50px;
}

iframe {
    width: 560px;
    height: 315px;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    border-color: #3b3b2b;
    border-width: 5px;
}

p {
    color:rgb(231, 216, 204);
    text-align: justify;
    background-color: #58534e;
    border: 3px solid #2b2420;
    /* margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 40px; */
    margin: 70px;
    padding: 25px;
}

.Texto {
    margin-left: 35%;
}

li > a{
    text-decoration: none;
    color: #ddd6d6;
}

li > a:hover{
    color: #837d79;
}

.menu{
    list-style: none;
    background-color: #817464;
    font-size: 21px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 0;
    border: 2px solid #3a3b27;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: #3b3126;
    transition: all 300ms;
}

.menu a:hover{
    font-size: 1.5rem;
    color: rgb(43, 33, 24);
    transition: all 500ms;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #63594e;
    border-top: 5px solid #352d28;
    margin: 5px 0 0;
    padding: 10px;
}